
@{
    ViewBag.Title = "Index";
}



<link rel="stylesheet" href="~/CSS/doctor.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<title>Our Doctors</title>

<body>
    <div class="nav">
        <div class="left logo">
            <img src="~/Images/logo2.jpg" />
        </div>
        <div class="middle">
            <h2>Happy Life Health Care Center </h2>
        </div>
        <div>
            <p style="color:#fff; margin-top:15px">Hello @Session["Username"]</p>
            <p style="color:#fff; margin-top:10px">@Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })</p>
        </div>
    </div>
   
        <div class="menu">
            <div><h2>Available Doctors</h2></div>
            <div><input type="search" data-table="table table-hover" id="myInput" onkeyup="myFunction()" placeholder="Search.."></div>
        </div>
        <div>
            <p style="color:#fff; margin-top:10px">@Html.ActionLink("Book Appointment", "Create", "Appointments", new { area = "", defAction = "Success", defController = "Home" }, new { @class = "nav-link" })</p>
        </div>
        <table class="table table-hover" id="myTable">
            <tr>
                <th>Department</th>
                <th>Name</th>

                <th>Degrees</th>
                <th>Contact</th>
                <th>Day</th>
                <th>Time</th>

            </tr>

            <tr>
                <td>Cardiology</td>
                <td>Dr. Neel Saha</td>

                <td>MBBS, MD, MS</td>
                <td>9836138665</td>
                <td>Wed, Fri</td>
                <td>5pm-7pm</td>

            </tr>
            <tr>
                <td>Cardiology</td>
                <td>Dr. Pritha Dhar</td>

                <td>MBBS, MD, MS</td>
                <td>9845193409</td>
                <td>Thu, Sat</td>
                <td>5pm-7pm</td>
            </tr>


            <tr>
                <td>General Physician</td>
                <td>Dr. Bharati Saha</td>

                <td>MBBS, MD</td>
                <td>9039138665</td>
                <td>Tue, Fri</td>
                <td>10am-12pm</td>

            </tr>
            <tr>
                <td>General Physician</td>
                <td>Dr. Javed Shah</td>

                <td>MBBS, MD</td>
                <td>9009138645</td>
                <td>Mon,Wed</td>
                <td>4pm-6pm</td>

            </tr>
            <tr>
                <td>Neurologist</td>
                <td>Dr. Pratim Biswas</td>

                <td>MBBS, MD</td>
                <td>7039738335</td>
                <td>Thu, Fri</td>
                <td>10am-12pm</td>

            </tr>
            <tr>
                <td>Psychologist</td>
                <td>Dr. Rituparna Ghosh</td>

                <td>MBBS, MD</td>
                <td>7039738455</td>
                <td>Wed, Fri</td>
                <td>9am-11pm</td>

            </tr>
            <tr>
                <td>Nutritionist</td>
                <td>Dr. Deep Saha</td>

                <td>MBBS, MS</td>
                <td>8039778455</td>
                <td>Wed</td>
                <td>7pm-9pm</td>

            </tr>
            <tr>
                <td>Orthopetic</td>
                <td>Dr. Sajib Das</td>

                <td>MBBS, MD</td>
                <td>7849738400</td>
                <td>Mon, Fri</td>
                <td>12pm-2pm</td>

            </tr>
            <tr>
                <td>Eye Specialist</td>
                <td>Dr. Smriti Ghosh</td>

                <td>MBBS, MD, MS</td>
                <td>7039731115</td>
                <td>Mon, Thu</td>
                <td>11am-1pm</td>

            </tr>
            <tr>
                <td>Gastrologist</td>
                <td>Dr. Avik Sen</td>

                <td>MBBS, MD</td>
                <td>7039732225</td>
                <td>Wed, Sat</td>
                <td>10am-1pm</td>

            </tr>
        </table>
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td1 = tr[i].getElementsByTagName("td")[0];
                    td2 = tr[i].getElementsByTagName("td")[1];
                    if (td1 || td2) {
                        txtValue1 = td1.textContent || td1.innerText;
                        txtValue2 = td2.textContent || td2.innerText;
                        if (txtValue1.toUpperCase().indexOf(filter) > -1 || txtValue2.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
       </script>

</body>