@model IEnumerable<Clinic_MVC.Models.TBLUserInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>
<div class="container">
    <div CLASS="container_img">

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="~/Images/clinic.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Images/clinic_2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Images/clinic_pic2.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="~/Images/clinic_3.jpg" />
                </div>
            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div> -->
        </div>
        <h1>Caring Today For A Healthier Tommorrow</h1>
        <div class="inner_para" id="about">
            <h2>About Us</h2>
            <p>
                Welcome to <strong>Happy Life Health Care Center</strong>, your trusted partner in health and wellness. We are dedicated to provide high quality health care services to
                enhance and safeguard your well-being. Our team of experienced and compassioned healthcare professionals is committed to delivering personalized care tailored to your
                unique needs. Whether you require preventive care, specialized treatments, or ongoing support, we are here for your every step of the way.
                At <strong>Happy Life Health Care Center</strong>, we prioritize your health,aiming to create a supportive environment that fosters healing recovery.
                Trust us to provide comprehensive and cutting-edge healthcare services with a focus on your comfort and peace of mind.
            </p>
            <p><strong> Your Health Our Commitment - Excellence in Every Care</strong></p>
        </div>
    </div>
    <div class="para">


        <div class="inner_para w-33" id="mission">
            <div class="inner_content">
                <div class="icon_wrapper">
                    <!-- <i class="fa-solid fa-person-arrow-up-from-line"></i> -->
                    <img src="~/Images/person_arrow.png">
                </div>
                <h2>
                    Our  Mission
                </h2>
                <p>
                    Making Access and Inclusivity, Compassionate healthcare
                </p>
            </div>
        </div>
        <div class="inner_para w-33" id="vision">

            <div class="inner_content">
                <div class="icon_wrapper">
                    <!-- <i class="fa-solid fa-eye"></i> -->
                    <img src="~/Images/vision1.png">
                </div>
                <h2>
                    Our  Vision
                </h2>
                <p>
                    Leading in medical excellence, innovation and community well-being
                </p>
            </div>
        </div>
        <div class="inner_para w-33" id="objective">
            <div class="inner_content">
                <div class="icon_wrapper">
                    <img src="~/Images/obj.png" />
                </div>
                <h2>
                    Our  objective
                </h2>
                <p>
                    Healing hearts, sparking innovation and top-notch care
                </p>
            </div>
        </div>
    </div>
    <h1 style="text-align: center;background-color:#C2D6C2;padding: 20px;width:100%;"> We are serving...</h1>
    <div class="serve" id="serve">
        <div class="Doctors">
            <img src="~/Images/doctor_nurse.jpg" />
            <h1 style="text-align: center;">50+<br>Doctors</h1>
        </div>
        <div class="Patients">
            <img src="~/Images/patient1.jpg" />
            <h1 style="text-align: center;">20000+ <br>Smiles</h1>
        </div>
        <div class="Patients">
            <img src="~/Images/service.png" />
            <h1 style="text-align: center;">24/7  <br>Service</h1>
        </div>
        <div class="Patients">
            <img src="~/Images/emergency.jfif" />
            <h1 style="text-align: center;"> Emergency<br>Unit</h1>
        </div>
        <div class="years">
            <img src="~/Images/calender1.jpg" />
            <h1 style="text-align: center;">51+ <br> Years Served</h1>
        </div>
    </div>
    <div class="lect">
        <h2>Patients Testinomials<br></h2>
        <div class="qoute">
            <div class="mul1">
                <p>

                    " Best services available in this private hospital. I recently visited ENT dept. Good & Experience doctor available.."

                </p>
                <p style="text-align:right ; font-style: italic;">
                    --Sandip Mukherjee<br>24/10/2020
                    <br>
                </p>
            </div>
            <div class="mul2">
                <p>

                    " Visited with regard to stress problems for my son. Found him to be very professional & caring with an eye for minute details. The medicines prescribed seems to be working well."
                </p>
                <p style="text-align:right ; font-style: italic;">--Sima Roy<br>29/12/2022<br></p>
            </div>
            <div class="mul3">
                <p>

                    " Excellent service from the staffs,bills are much lower than estimated for my sister's flexor longus tendont surgery,a critical surgery done by DR. Amitava Das, a god to us, My sis has improved under his supervision."

                </p>
                <p style="text-align:right ; font-style: italic;">--Priyajeet Mukherjee<br>14/10/2023<br></p>
            </div>
            <div class="mul4">
                <p>
                    " An outstanding experience. Difficult to believe medical services can rise over everything to render humane, tender and above all ethical flavour in true sense in today's world of intense competition. I wish this Institute be torch bearer for others in future."

                </p>
                <p style="text-align:right ; font-style: italic;">--Trisha Raha<br>31/12/2023<br></p>

            </div>
        </div>
        </div>
</div>
        </main>
